html {
    background-image: url("Pottebla_LT.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
header {

    height: 120px;
    /*background: #3b3b3b;*/
    background: #3b3b3b;
    color: white;
    border: none;
    width: auto;
    margin: 0 auto;
}

nav {
    text-align: center;
    margin: 0 auto;
    font-size: 35px;
    font-weight: bold;
    display: flex;
}

div.points{
    flex-grow: 1;
}

div.points p{
    margin: 0;
    display: inline-block;
    margin-top: 35px;
    margin-bottom: 35px;
}

div.plantName{
   flex-grow: 1;
}

div.subject{
    flex-grow: 1;
}

button.watering{
    border: 3px solid midnightblue;
    background-color: lightskyblue;
    position: absolute;
    width: 100px;
    height: 100px;
    text-align: center;
    display: inline-block;
    top: 50%;
    right: 30%;
    margin: 4px 2px;
    border-radius: 50%;
    cursor: pointer;
    transition-duration: 0.4s;
    font-size: 40px;
    color: midnightblue;
}

button.watering:hover{
    background-color: midnightblue;
    color: lightskyblue;
}
