html {
    background: rgb(146, 199, 206) center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.plants img{
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translateX(-50%);
    width: 65%;
    height: 65%;
}

.progressBar {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
}

.progressBar progress {
    width: 200px;
    height: 25px;
}

.progressBar label {
    font-size: 25px;
    font-weight: bold;
}

button.watering{
    border: 4px solid midnightblue;
    background-color: lightskyblue;
    position: absolute;
    width: 100px;
    height: 100px;
    text-align: center;
    display: inline-block;
    top: 50%;
    left: 65%;
    transform: translateX(-65%);
    margin: 4px 2px;
    border-radius: 50%;
    cursor: pointer;
    transition-duration: 0.4s;
    font-size: 40px;
    color: midnightblue;
}

button.watering:hover{
    background-color: midnightblue;
    color: lightskyblue;
}

button.placePlant{
    border: 4px solid #023020;
    background-color: darkseagreen;
    position: absolute;
    width: 100px;
    height: 100px;
    text-align: center;
    display: inline-block;
    top: 50%;
    left: 35%;
    transform: translateX(-35%);
    margin: 4px 2px;
    border-radius: 50%;
    cursor: pointer;
    transition-duration: 0.4s;
    font-size: 40px;
    color: #023020;
}

button.placePlant:hover{
    background-color: #023020;
    color: darkseagreen;
}

select.subjectSelector{
    text-align: center;
    position: absolute;
    width: 140px;
    top: 46.5%;
    left: 35%;
    transform: translateX(-35%);
    border: 4px solid #023020;
    border-radius: 10px;
    background-color: darkseagreen;
    font-weight: bold;
    font-size: 17px;
    
    
}
