html {
    background: url("Pottebla_LT.jpg");
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

button.watering{
    border: 3px solid midnightblue;
    background-color: lightskyblue;
    position: absolute;
    width: 100px;
    height: 100px;
    text-align: center;
    display: inline-block;
    top: 50%;
    right: 30%;
    margin: 4px 2px;
    border-radius: 50%;
    cursor: pointer;
    transition-duration: 0.4s;
    font-size: 40px;
    color: midnightblue;
}

button.watering:hover{
    background-color: midnightblue;
    color: lightskyblue;
}
