#quizWindow {
    background-color: #709154;
    display: grid;
    grid-template-columns: auto auto;
    font-size: small;
    padding: 1%;
}

#question {
    font-family: 'Quicksand', sans-serif;
}

#option1{
    background-color: #88b166;
    font-size: 50px;
    border: 1px solid black;
}

#option2{
    background-color: #88b166;
    font-size: 50px;
    border: 1px solid black;
}

#option3{
    background-color: #88b166;
    font-size: 50px;
    border: 1px solid black;
}

#option4{
    background-color: #88b166;
    font-size: 50px;
    border: 1px solid black;
}

body {
    text-align: center;
    background-color: lightskyblue;
    font-size: 50px;
}

/* Was an attempt to make button anchor fit button size
.a {
    size: 21.2px;
}
*/